.timeline-container {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
    height: calc(100vh - 130px - 60px);
}

.heading {
    display: flex;
    align-items: stretch;
    background-color: var(--medium-dark-color);
    color: var(--light-font-color);
    height: 130px;
}

.employees-wraper {
    width: -webkit-fill-available;
    width: -moz-avilable;
    margin: 0 -50px 0 0;
    overflow: hidden;
    overflow-x: scroll;
}

.employees-wraper::-webkit-scrollbar {
    width: none;
    opacity: 0;
}

.scroll-arrows {
    display: flex;
    padding: 0 25px;
    background-color: var(--medium-dark-color);
    align-items: center;
    cursor: pointer;
}

.scroll-arrows:hover {
    background-color: var(--dark-color);
}

.employees-name td {
    min-width: var(--cell-min-width);
    padding: 20px;
    text-align: center;
}

.name-tag {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    line-height: 50px;
    background-color: var(--employee-icon-back-color);
    text-align: center;
    margin: 10px auto;
}

.appointment-table-wraper {
    position: absolute;
    overflow: hidden;
    overflow-x: auto;
    pointer-events: none;
    top: 0;
    left: 60px;
    right: 10px;
}

.appointments-table {
    height: 1518px;
}

.appointments-table tr td {
    position: relative;
    padding: 0 5px;
    min-width: var(--cell-min-width);
}

.appointments-table,
.appointments-table tr,
.appointments-table tr td {
    border: 1px solid var(--strong-line-color);
    border-collapse: collapse;
}

.appointment {
    position: absolute;
    pointer-events: auto;
    width: calc(100% - 10px);
    border-radius: 5px;
    overflow: hidden;
}

.appointment-red {
    background-color: rgb(253, 150, 150);
}

.appointment-green {
    background-color: rgb(166, 255, 168);
}

.appointment-blue {
    background-color: rgb(170, 171, 255);
}

.appointment-contnet {
    position: relative;
    padding: 20px;
    height: 100%;
}

.appointment-contnet p {
    font-size: 0.8rem;
}

.appointment-contnet h3 {
    margin: 5px 0;
}

.scale-area {
    position: absolute;
    height: 35px;
    padding: 20px 0 0 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: s-resize;
}

.scale-area:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}


.scale-area .icon div {
    margin: 0 auto 3px auto;
    height: 1px;
    width: 50px;
    background-color: var(--medium-dark-color);
}

@media screen and (max-width:900px) {
    .timeline-container {
        height: calc(100vh - 131px - 114px);
    }
}

@media screen and (max-width:575px) {
    .timeline-container {
        height: calc(100vh - 131px - 165px);
    }
}