:root {
  --light-font-color: white;
  --dark-color: #222223;
  --medium-dark-color: #2e2f30;
  --light-line-color: #e5e5e5;
  --strong-line-color: #c1c1c1;
  --disabled-color: rgb(160, 160, 160);
  --secondry-color: #e1c41f;
  --employee-icon-back-color: #0050b1;
  --negative-action-color: #fc3737;
  --time-hover-color: rgb(129 129 255 / 53%);

  --cell-min-width: 230px;
  --time-text-width: 30px;
  --time-to-table-gap: 10px;

  --timetext-and-gap-width: calc(var(--time-text-width) + var(--time-to-table-gap));
}

@media screen and (min-width:426px) {
  :root {
    --cell-min-width: 335px;
  }
}

.hidden {
  width: 0;
  height: 0;
  border: unset;
  overflow: hidden;
  opacity: 0;
}

* {
  box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

nav {
  background-color: var(--dark-color);
  padding: 10px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

table {
  width: -webkit-fill-available;
  width: -moz-available;
}

.arrow-down {
  height: 0;
  width: 0;
  border-bottom: transparent solid 1px;
  border-top: var(--dark-color) solid 7px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

.arrow-right {
  height: 0;
  width: 0;
  border-bottom: transparent solid 10px;
  border-top: transparent solid 10px;
  border-left: var(--dark-color) solid 10px;
  border-right: transparent solid 0px;
}

.arrow-left {
  height: 0;
  width: 0;
  border-bottom: transparent solid 10px;
  border-top: transparent solid 10px;
  border-right: var(--dark-color) solid 10px;
  border-left: transparent solid 0px;
}

.arrow-right-light {
  height: 0;
  width: 0;
  border-bottom: transparent solid 10px;
  border-top: transparent solid 10px;
  border-left: var(--light-font-color) solid 10px;
  border-right: transparent solid 0px;
}

.arrow-left-light {
  height: 0;
  width: 0;
  border-bottom: transparent solid 10px;
  border-top: transparent solid 10px;
  border-right: var(--light-font-color) solid 10px;
  border-left: transparent solid 0px;
}

/*----------------*/
/*Dropdown Start----*/
/*----------------*/

.dropdown-container {
  position: relative;
  user-select: none;
  z-index: 2;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 140px;
  background-color: var(--light-line-color);
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: var(--strong-line-color);
}

.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid var(--light-line-color);
}

.dropdown-list {
  position: absolute;
  top: 42px;
  width: max-content;
  background-color: var(--dark-color);
  color: var(--light-font-color);
}

.dropdown-closed {
  display: none;
}

/*----------------*/
/*Dropdown End----*/
/*----------------*/

.check-box {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

input[type=checkbox] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.check-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--strong-line-color);
}

.check-mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid var(--dark-color);
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
}

input[type=checkbox]:checked+.check-mark {
  background-color: var(--light-font-color);
}

input[type=checkbox]:checked+.check-mark:after {
  display: block;
}

@media screen and (max-width:900px) {
  nav {
    height: 114px;
  }
}

@media screen and (max-width:575px) {
  nav {
    height: 165px;
  }
}