.options-wrap {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-color);
}

.display-state-button {
    box-sizing: unset;
    width: 70px;
    margin-left: 10px;
    border: 1px solid var(--light-line-color);
    border-radius: 10px;
    color: var(--light-font-color);
    background-color: var(--dark-color);
}

.active-display {
    background-color: var(--light-line-color);
    color: var(--dark-color);
}