.time-stamp,
.live-time-stamp {
    display: flex;
    align-items: center;
}

.time-stamp {
    width: 100%;
    color: var(--strong-line-color);
    gap: 10px;
}

.live-time-stamp {
    position: absolute;
    pointer-events: none;
    color: var(--negative-action-color);
    width: 100%;
    z-index: 2;
}

.hour,
.live-hour {
    font-size: 12px;
    width: var(--time-text-width);
    text-align: center;
}

.live-hour {
    width: 40px;
    height: 18px;
    border: 2px solid;
    border-radius: 99px;
    background-color: white;
}

.line {
    position: relative;
    padding-top: 30px;
    border-left: 1px solid var(--strong-line-color);
    border-right: 1px solid var(--strong-line-color);
    width: calc(100% - var(--time-to-table-gap) - var(--time-text-width));
    cursor: pointer;
}

.line-time {
    display: none;
    position: absolute;
    bottom: 1px;
    left: -41px;
    color: var(--time-stamp-color);
    font-size: 12px;
}

.line:hover {
    background-color: var(--time-hover-color);
}

.line:hover>.line-time {
    display: block;
}

.live-line {
    height: 2px;
    width: 100%;
    background-color: var(--negative-action-color);
}